.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: 'Roboto';
}

.col-2{
    width: 50%;
    min-width:400px;
    margin: auto;
}

.col-2 img{
    width: 100%;
    height: 100%;
    padding: 50px;
}

.col-2 h1{
    font-size: 60px;
}

.col-2 p{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
}

.btn{
    padding: 10px 20px;
    background-color: indigo;
    color: white;
    border-radius: 50px;
    border:none;
    font-size: 14px;
    cursor: pointer;
}

.small-container{
    max-width: 1080px;
    margin: auto;
}

.col-3{
    width:32%;
    min-width: 250px;
    margin: auto;
}

.col-3 img{
    width: 100%;
    height:100%;
}

.featured-product{
    margin: 60px 0px;
    font-family: 'roboto';
}

.featured-product h2{
    text-align: center;
    font-size: 30px;
    color: gray;
    margin-bottom: 30px;
}

.col-4{
    width: 24%;
    min-width: 250px;
    margin: auto;
}

.col-4 img{
    width: 100%;
}
.fa-star, .fa-star-half, .fa-star-half-stroke{
    color: orange;
}
.fa-arrow-right{
    font-size: 12px;
}