*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.container{
    max-width: 1300px;
    width: 100%;
    margin: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    font-family: "Roboto", sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

.navbar .logo{
    font-size: 25px;
    color:indianred;
}

.navbar .nav{
    display: flex;
    gap:30px;
}

.navbar .nav a{
    font-size: 20px;
}

.navbar .nav a:hover{
    color: indianred;
}

.btn-toggle{
    display:none;
}

@media screen and (max-width:720px){
    .container{
        max-width: 90%;
    }
    
    .navbar .nav{
        display: none;
    }

    .btn-toggle{
        display:block;
        font-size: 25px;
        cursor: pointer;
    }
}